.container-full  {
  background-image: url(https://raw.githubusercontent.com/jessferna/webadmin/a02552fb25a26745652a4efe3b747aae686e65ab/img/flickr.com.photos.dali99.16067598367.jpg);
  width: 100%;
  height: 700px;
  background-position: center;

}
.color-letter{
  text-align: center;
  color:white;
  font-weight: bold;

}
